<!doctype html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Paratagez vos collections d'objets préférées">

		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="{{ asset('asset/css/style.css') }}" />
		
		<title>{% block title %}{% endblock %}War-optimiser</title>
	</head>
	
	<body>
			<header style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
				<nav style="display:flex; justify-content:center; align-items:center; border:1px solid black; background-color:black; width:100%; height: 40px; gap:2rem;"> 
					<a style="font-size: 20px; color:white; text-decoration:none;" href="{{ path('app_home')}}">Accueil</a>
					<a style="font-size: 20px; color:white; text-decoration:none;" href="#">Connexion</a>
					<a style="font-size: 20px; color:white; text-decoration:none;" href="#">Inscription</a>
				</nav>
			</header>

			{% block body %}{% endblock %}

			<footer>
				
			</footer>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
			<script src="{{ asset('asset/js/stats.js') }}"></script>
			<script src="{{ asset('asset/js/select2.js') }}"></script>
			<script src="{{ asset('asset/js/renown.js') }}"></script>
	</body>
</html>