{% extends 'base.html.twig' %}

{% block body %}
    <h2 style="text-align:center"> Résults for {{name.nom}} </h2>

    <div>
        <h2 style="text-align:center;"> Liste of selected items</h2>
        <div style="display:flex; justify-content:center; gap:2rem; margin:2rem 0;">
            {% for item in liste %}
                {% if item.picture is not same as null %}
                <img class="gearpics" src="{{asset('asset/images/items/' ~ item.classe.name ~ '/' ~ item.picture)}}">
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div style="display: grid;grid-template-columns: 800px 800px;justify-content: center;gap: 2rem;">
        <div>
            <h2 style="margin:0;"> Avatar base stats (level 40)</h2>
            <div style="padding: 1rem; display:grid; grid-template-columns: 200px 200px 200px 200px; border: 2px solid black; border-radius:10px;">
                <p> armor = {{basestats.armor}}</p>
                <p> resist = {{basestats.resist}}</p>
                <p> disrupt = {{disruptfromwillpower|number_format(1, '.', ',')}} %</p>
                <p> dodge = {{dodgefrominitiative|number_format(1, '.', ',')}} %</p>
                <p> magic power = {{basestats.magicpower}}</p>
                <p> ap/sec = {{basestats.ap}}</p>
                <p> heal crit chance = {{basestats.critheal}} %</p>
                <p> magic crit chance = {{basestats.magiccritchance}} %</p>
                <p> melee crit chance = {{basestats.meleecritchance}} %</p>
                <p> ranged crit chance = {{basestats.rangedcritchance}} %</p>
                <p> intel = {{basestats.intel}}</p>
                <p> wound = {{basestats.wound}}</p>
                <p> initiative = {{basestats.initiative}}</p>
                <p> toughness = {{basestats.toughness}}</p>
                <p> strenght = {{basestats.strenght}}</p>
                <p> weapon skill = {{basestats.weaponskill}}</p>
                <p> willpower = {{basestats.willpower}}</p>
                <p> ballistic skill = {{basestats.ballisticskill}}</p>
                <p> block = {{basestats.block}} %</p>
                <p> parry = {{parryfromweaponskill|number_format(1, '.', ',')}} %</p>
            </div>
        </div>

        <div>
            <h2 style="margin:0;"> Renown stats </h2>
            <div style="padding: 1rem;display:grid; grid-template-columns: 200px 200px 200px 200px; border: 2px solid black; border-radius:10px;">
                <p> intel = {{ RenownIntel}}  </p>
                <p> weapon skill = </p>
                <p> block chance = </p>
                <p> dodge / disrupt chance = </p>
                <p> max ap increase = </p>
                <p> magic crit chance = </p>
                <p> toughness = </p>
                <p> crit received chances = </p>
                <p> damage deal/received= </p>
                <p> inititative = </p>
                <p> sprint boost(sec) = </p>
                <p> ballistic skill = </p>
                <p> strenght= </p>
                <p> melee crit chance= </p>
                <p> % move speed up on hit= </p>
                <p> parry chance = </p>
                <p> natural regen increase = </p>
                <p> willpower = </p>
                <p> heal crit chance = </p>
                <p> ranged crit chance = </p>
                <p> crit damage reduced = </p>
                <p> wound = </p>
            </div>
        </div>

        <div>
            <h2 style="margin:0;"> Gear stats </h2>
            <div style="padding: 1rem; display:grid; grid-template-columns: 200px 200px 200px 200px; border: 2px solid black; border-radius:10px;">
                <p> armor = {{armor}}</p>
                <p> resist = {{resist}}</p>
                <p> disrupt = {{disrupt|number_format(1, '.', ',')}}</p>
                <p> dodge = {{dodge|number_format(1, '.', ',')}} %</p>
                <p> magicpower = {{magicpower}}</p>
                <p> ap / sec = {{ap}}</p>
                <p> heal crit chance = {{critheal}} %</p>
                <p> magic crit chance = {{magiccritchance}} %</p>
                <p> melee crit chance = {{meleecritchance}} %</p>
                <p> ranged crit chance = {{rangedcritchance}} %</p>
                <p> intel = {{intel}}</p>
                <p> wound = {{wound}}</p>
                <p> initiative = {{initiative}}</p>
                <p> toughness = {{toughness}}</p>
                <p> strenght = {{strenght}}</p>
                <p> weapon skill = {{weaponskill}}</p>
                <p> willpower = {{willpower}}</p>
                <p> ballistic skill = {{ballisticskill}}</p>
                <p> block = {{block}} %</p>
                <p> parry = {{parry|number_format(1, '.', ',')}} %</p>
                <p> morale/sec= {{morale}}</p>
                <p> regen pv /4sec = {{regenpv}}</p>
                <p> lower armor pen = {{reducarmorpen}} %</p>
            </div>
        </div>

        <div>
            <h2 style="margin:0;"> Total stats </h2>
            <div style="padding: 1rem; display:grid; grid-template-columns: 200px 200px 200px 200px; border: 2px solid black; border-radius:10px;">
                <p> armor =  {{armor + basestats.armor}}</p>
                <p> resist = {{resist + basestats.resist}}</p>
                <p> disrupt = {{disrupt + disruptfromwillpower|number_format(1, '.', ',')}} %</p>
                <p> dodge = {{dodge + dodgefrominitiative|number_format(1, '.', ',')}}%</p>
                <p> magic power = {{magicpower + basestats.magicpower}} + 99</p>
                <p> ap/sec = {{ap + basestats.ap}} </p>
                <p> heal crit chance = {{critheal + basestats.critheal}} %</p>
                <p> magic crit chance = {{magiccritchance + basestats.magiccritchance}} %</p>
                <p> melee crit chance = {{meleecritchance + basestats.meleecritchance}} %</p>
                <p> ranged crit chance= {{rangedcritchance + basestats.rangedcritchance}} %</p>
                <p> intel = {{intel + basestats.intel + RenownIntel}} + {{355}}</p>
                <p> wound = {{wound + basestats.wound}} + 194 </p>
                <p> initiative = {{initiative + basestats.initiative}}</p>
                <p> toughness = {{toughness + basestats.toughness}}</p>
                <p> strenght = {{strenght + basestats.strenght}}</p>
                <p> weapon skill = {{weaponskill + basestats.weaponskill}}</p>
                <p> willpower= {{willpower + basestats.willpower}}</p>
                <p> ballistic skill = {{ballisticskill + basestats.ballisticskill}}</p>
                <p> block = {{block + basestats.block}} %</p>
                <p> parry = {{parry + parryfromweaponskill|number_format(1, '.', ',')}} %</p>
                <p> morale/sec= {{morale}} </p>
                <p> regen pv /4sec = {{regenpv}}</p>
                <p> lower armor pen = {{reducarmorpen}} %</p>
            </div>
        </div>
    </div>
{% endblock %}